{% if flash.success.message is defined %}
  <div class="container" style="margin-top: 20px;">
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <ul>
        {% for message in flash.success.message %}
          {% if message|length > 0 %}
            <li>
              {{message|raw}}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% elseif flash.errors.message is defined %}
  <div class="container" style="margin-top: 20px;">
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <ul>
        {% for message in flash.errors.message %}
          {% if message|length > 0 %}
            <li>
              {{message|raw}}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
